In [34]:
import requests
import json
import pandas as pd 

import warnings #Para que no nos salgan los warnings
warnings.filterwarnings("ignore")

In [2]:
url="https://ergast.com/api/f1/2022/22/results.json"
response=requests.get(url)

In [3]:
content=json.loads(response.content)

In [35]:
df_results_2022=pd.DataFrame()
for race in list(range(1,23)):
    url="https://ergast.com/api/f1/2022/{}/results.json"
    response=requests.get(url.format(race))
    content=json.loads(response.content)
    df_results_2022=df_results_2022.append(pd.DataFrame(content["MRData"]["RaceTable"]["Races"][0]["Results"]))

In [16]:
#df_results_2022["Driver"]["driverId"]
df_results_2022["Driver"]= df_results_2022["Driver"].apply(lambda x: x["driverId"])

In [43]:
df_results_2022["points"]=df_results_2022["points"].astype(int)

In [56]:
df_results_2022.groupby("position").agg({"points":"sum"}).sort_values(by="points",ascending=False)

          points
position
1            557
2            402
3            331
4            265
5            222
6            179
7            132
8             88
9             44
10            22
18             0
17             0
20             0
16             0
15             0
14             0
13             0
12             0
11             0
19             0

In [50]:
df_results_2022.groupby("position")["points"].sum().sort_values(ascending=False)

position
1     557
2     402
3     331
4     265
5     222
6     179
7     132
8      88
9      44
10     22
18      0
17      0
20      0
16      0
15      0
14      0
13      0
12      0
11      0
19      0
Name: points, dtype: int64